# Excel temp/lock files
~$*.xlsx
~$*.xlsm
*.tmp

# OS junk files
.DS_Store
Thumbs.db

# Source filing PDFs — copyrighted third-party documents, link to them instead (see sources/source_links.md)
*.pdf